/* Empty. Add your own CSS if you like */

.appicon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 50px;
    border: 1px solid black;
}
.input {
    margin-top: 25px;
}
.photopane {
    height: 75px;
    width: 100px;
}
